* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hide {
  visibility: hidden !important;
}

.remove {
  display: none !important;
}

.background-blur {
  pointer-events: none;
  filter: blur(10px);
}

.btn-small {
  width: 40px;
  height: 40px;
  background: #c3073f;
  color: white;
  border-radius: 0 10px 10px 0;
}
.btn-small > * {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.btn-small:hover {
  background: #4e4e50;
}

.btn {
  width: max-content;
  border-radius: 10px;
  padding: 10px 40px;
}

.btn-form {
  width: 200px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(195, 7, 63, 0.5), 0 0 5px 0 rgba(195, 7, 63, 0.5);
  border-radius: 10px;
  padding: 10px 40px;
}

.btn-card {
  width: 80%;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: -4px -1px 12px -8px #000000, 4px 1px 12px -8px #000000;
}

.btn-category {
  width: 100%;
  padding: 10px 40px;
}
.btn-category-left {
  border-radius: 10px 0 0 0;
  box-shadow: -4px -1px 15px -8px #000000;
}
.btn-category-right {
  border-radius: 0 10px 0 0;
  box-shadow: 4px -1px 15px -8px #000000;
}

.btn-dark {
  background: #c3073f;
  color: white;
}
.btn-dark:hover {
  background-color: #950740;
}

.btn-light {
  background: white;
  color: #c3073f;
}
.btn-light:hover {
  background: #4e4e50;
  color: white;
}

.btn-profile {
  display: inline-block;
  width: max-content;
  height: 100%;
  padding: 10px 60px;
  border-radius: 10px;
  box-shadow: -4px -1px 12px -8px #000000, 4px 1px 12px -8px #000000;
}

.small-btn-profile {
  display: inline-block;
  width: max-content;
  height: 100%;
  padding: 8px 50px;
  border-radius: 5px;
  box-shadow: -4px -1px 12px -8px #000000, 4px 1px 12px -8px #000000;
}

.content-box {
  padding: 0 30px;
}

.menu-active {
  border-bottom: 5px solid #c3073f;
}

.menu-inactive {
  border-bottom: 5px solid #1a1a1d;
}

.highlight {
  color: #c3073f;
}

.inputs-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.inputs-div > aside {
  padding-top: 10px;
  width: 15vw;
}

.input-field {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

input {
  background: white;
  font-size: 1.2rem;
  border-style: none;
  outline-style: none;
  border-radius: 10px;
  box-shadow: inset 4px 4px 5px -4px #000000, inset -4px -4px 5px -4px #000000;
}
input:focus:valid {
  border: 1px solid #07ce07;
}
input:focus:invalid {
  border: 1px solid red;
}

.small-input-field > * > h3 {
  padding-bottom: 12px;
}
.small-input-field > * > h3::after {
  content: "*";
  color: red;
}
.small-input-field .small-input {
  width: 50%;
  padding: 10px 20px;
}

.title-card {
  font-family: "Staatliches", cursive;
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding-bottom: 30px;
  border-bottom: 2px dashed #6d6969;
}
.title-card > p {
  font-size: 1.2rem;
  width: 50%;
  font-family: "Dosis", sans-serif;
  opacity: 0.5;
}

.text-area-input-field > * > h3::after {
  content: "*";
  color: red;
}

.text-area-input {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.buttons a {
  font-family: "Staatliches", cursive;
  text-decoration: none;
}

.buttons-list {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  display: flex;
}
.buttons-list > * {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.small-buttons-list {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.small-buttons-list > * {
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card-profile {
  width: 100%;
  height: max-content;
  border-radius: 5px;
  box-shadow: -4px -4px 16px -5px #000000, 4px 4px 16px -5px #000000;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
}
.card-profile .photo-space {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 170px;
  background: url("../images/user.jpg") no-repeat center center/cover;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.card-profile .user-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card-profile .user-info .name {
  width: 100%;
  font-family: "Staatliches", cursive;
}
.card-profile .user-info .loan-contract-details {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid lightgrey;
  padding-left: 5px;
  font-size: 0.7rem;
  border-bottom: 1.5px dashed #c3073f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card-profile .user-info .loan-contract-details .item {
  margin: 5px;
  text-align: center;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1) {
  padding: 5px;
  border-bottom: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1) .total {
  padding-top: 5px;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1) .total .field {
  color: #c3073f;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1) .collected {
  display: none;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 10px 0 0 0;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover .total {
  display: none;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover .collected {
  padding-top: 5px;
  display: inline-block;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(1):hover .collected .value {
  color: yellow;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(2) {
  padding: 10px;
  border-bottom: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(2) .next-installment .field {
  color: #c3073f;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(2) .amount {
  display: none;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 10px 0 0;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover .next-installment {
  display: none;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover .amount {
  display: inline-block;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(2):hover .amount .value {
  color: yellow;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) {
  border-top: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  position: relative;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values .centering {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values .centering .field {
  width: 100%;
  color: #c3073f;
  padding-right: 5px;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values::before {
  transition: width 800ms ease-in-out;
  content: "";
  position: absolute;
  width: 0%;
  height: 90%;
  border-radius: 10px;
  background-color: transparent;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover {
  background: #c3073f;
  border-radius: 0 0 0 10px;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover .centering .field {
  z-index: 2;
  color: white;
  padding-right: 5px;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover .centering .value {
  z-index: 2;
  color: yellow;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(3) .installment-values:hover::before {
  width: calc(66% - 10px);
  background: #4e4e50;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(4) {
  padding: 10px;
  border-top: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(4) .interest-rate .field {
  color: #c3073f;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(4) .default {
  display: none;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 0 10px 0;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover .interest-rate {
  display: none;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover .default {
  display: inline-block;
}
.card-profile .user-info .loan-contract-details .item:nth-of-type(4):hover .default .value {
  color: yellow;
}
.card-profile:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.review-card {
  width: 100%;
  height: max-content;
  box-shadow: -4px -4px 16px -5px #000000, 4px 4px 16px -5px #000000;
  padding: 20px;
  border-radius: 12px;
}
.review-card:hover {
  cursor: pointer;
}
.review-card .review-title {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  font-size: 1.4rem;
}
.review-card .review-title p {
  font-size: 1.4rem;
}
.review-card .review-title p i {
  padding-right: 0.5rem;
  color: #950740;
}
.review-card .review-comment {
  font-size: 1.2rem;
  opacity: 0.7;
  padding: 20px;
  border-bottom: 2px dashed lightgray;
}
.review-card .review-comment p {
  display: inline-block;
}
.review-card .review-comment p::before {
  content: open-quote;
}
.review-card .review-comment p::after {
  content: close-quote;
}
.review-card .review-comment p::before, .review-card .review-comment p::after {
  display: inline-block;
  vertical-align: bottom;
  color: #c3073f;
  font-size: 2.8rem;
  top: 0.2rem;
  left: -0.2rem;
  position: relative;
}
@keyframes visualize {
  0% {
    opacity: 0;
    position: absolute;
  }
  50% {
    opacity: 0;
    position: relative;
  }
  75% {
    opacity: 0.5;
    position: 8;
  }
  100% {
    opacity: 1;
    position: relative;
  }
}
.review-card .hide-contract .hidden-contract {
  transition: transform 0.8s ease-in-out;
  opacity: 0;
  position: absolute;
  transform: translateY(-120%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #c3073f;
  border-top: 2px dashed #c3073f;
}
.review-card .hide-contract .hidden-contract .contract-details {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  width: 100%;
}
.review-card .hide-contract .hidden-contract .contract-details > * {
  padding: 10px 0;
  flex-grow: 1;
  border-bottom: 2px solid #6f2232;
}
.review-card .hide-contract .hidden-contract .contract-details > * .field {
  color: #c3073f;
}
.review-card .hide-contract .hidden-contract .contract-details .amount {
  border-right: 2px solid #6f2232;
}
.review-card .hide-contract .hidden-contract .contract-details .amount:hover {
  background: #4e4e50;
  color: white;
}
.review-card .hide-contract .hidden-contract .contract-details .amount:hover .field {
  color: inherit;
}
.review-card .hide-contract .hidden-contract .contract-details .amount:hover .value {
  color: yellow;
}
.review-card .hide-contract .hidden-contract .contract-details .issue-date {
  border-left: 2px solid #6f2232;
}
.review-card .hide-contract .hidden-contract .contract-details .issue-date:hover {
  background: #4e4e50;
  color: white;
}
.review-card .hide-contract .hidden-contract .contract-details .issue-date:hover .field {
  color: inherit;
}
.review-card .hide-contract .hidden-contract .contract-details .issue-date:hover .value {
  color: yellow;
}
.review-card .hide-contract:hover .hidden-contract {
  animation-name: visualize;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  transform: translateY(0%);
}
.review-card .hide-contract:hover .down-arrow i {
  color: #c3073f;
  transform: rotate(180deg);
}
.review-card .hide-contract .down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  color: #4e4e50;
  font-size: 1.2rem;
}
.review-card .hide-contract .down-arrow i {
  transition: all 0.5s ease-in-out;
}

.banner {
  width: 100vw;
  height: 30vh;
  background: url("../images/user.jpg") no-repeat center center/cover;
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: -1;
}

.user-info {
  font-family: "Dosis", sans-serif;
  display: flex;
  margin-top: 10px;
}
.user-info .profile-circle {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: -150px;
  margin-left: 150px;
  z-index: 100;
  background: url("../images/user.jpg") no-repeat center center/cover;
  border: 2px dashed #4e4e50;
}
.user-info .bkash {
  position: absolute;
  left: 85%;
  color: #c3073f;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info .bkash::before {
  content: "";
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  width: 10px;
  height: 10px;
}
.user-info .bkash::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: -2.6rem;
  font-size: 0.8rem;
  background: white;
  border: 1px solid #c3073f;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  width: 180px;
  height: max-content;
  opacity: 0;
  color: #4e4e50;
}
.user-info .bkash:hover::after, .user-info .bkash:hover::before {
  opacity: 1;
}
.user-info .description {
  padding-left: 40px;
  padding-top: 20px;
}
.user-info .description h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.8rem;
  letter-spacing: 2px;
  display: flex;
}
.user-info .description h1 i {
  font-size: 1rem;
  color: green;
  padding-left: 10px;
  position: relative;
}
.user-info .description h1 i::after {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  content: attr(data-tooltip);
  position: absolute;
  top: -1rem;
  left: 2.6rem;
  font-size: 0.6rem;
  background: white;
  border: 1px solid #c3073f;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  width: max-content;
  height: max-content;
  opacity: 0;
  color: black;
  letter-spacing: 0;
  font-style: italic;
}
.user-info .description h1 i:hover::after {
  opacity: 0.8;
}
.user-info .description p:nth-of-type(1) {
  color: #4e4e50;
  padding-bottom: 20px;
  border-bottom: 4px solid #c3073f;
}
.user-info .description .hidden-details {
  margin-top: 2px;
  border-top: 4px solid #c3073f;
  padding-top: 20px;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 1.2rem;
  color: #4e4e50;
  padding-bottom: 20px;
  border-bottom: 2px dashed #c3073f;
}
.user-info .description .hidden-details .item:nth-of-type(1) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  box-shadow: -3px 0px 8px -4px #000000;
  border-radius: 5px 0 0 0;
}
.user-info .description .hidden-details .item:nth-of-type(2) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  box-shadow: 3px 0px 8px -4px #000000;
  border-radius: 0 5px 0 0;
}
.user-info .description .hidden-details .item:nth-of-type(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  box-shadow: -3px 0px 8px -4px #000000;
  border-radius: 0 0 0 5px;
}
.user-info .description .hidden-details .item:nth-of-type(4) {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  box-shadow: 3px 0px 8px -4px #000000;
  border-radius: 0 0 5px 0;
}
.user-info .description .hidden-details .item {
  transition: all 0.2s ease-in-out;
}
.user-info .description .hidden-details .item .value {
  display: none;
}
.user-info .description .hidden-details .item:hover {
  background: #c3073f;
  color: white;
}
.user-info .description .hidden-details .item:hover .field {
  display: none;
}
.user-info .description .hidden-details .item:hover .value {
  display: block;
}

.loan-contract-info {
  margin: 50px;
}
.loan-contract-info .loan-info {
  font-family: "Dosis", sans-serif;
  margin-top: 2rem;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #c3073f;
  outline-offset: 2px;
}
.loan-contract-info .loan-info h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.6rem;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  flex-basis: 100%;
}
.loan-contract-info .loan-info p {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 1.4rem;
  width: max-content;
  display: inline-block;
}
.loan-contract-info .loan-info p::before {
  content: open-quote;
}
.loan-contract-info .loan-info p::after {
  content: close-quote;
}
.loan-contract-info .loan-info p::before, .loan-contract-info .loan-info p::after {
  display: inline-block;
  vertical-align: bottom;
  color: #c3073f;
  font-size: 2rem;
  top: 0.2rem;
  position: relative;
}
.loan-contract-info .loan-info cite {
  align-self: flex-end;
  color: #c3073f;
}
.loan-contract-info .loan-info .loan-data {
  width: 50%;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  padding-top: 10px;
  flex-basis: 100%;
  padding-left: 20px;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.loan-contract-info .loan-info .loan-data .item {
  margin: 10px;
  text-align: center;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(1) {
  padding: 10px;
  border-bottom: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(1) .total .field {
  color: #c3073f;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(1) .collected {
  display: none;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(1):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 10px 0 0 0;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(1):hover .total {
  display: none;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(1):hover .collected {
  display: inline-block;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(1):hover .collected .value {
  color: yellow;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(2) {
  padding: 10px;
  border-bottom: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(2) .next-installment .field {
  color: #c3073f;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(2) .expiration {
  display: none;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(2):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 10px 0 0;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(2):hover .next-installment {
  display: none;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(2):hover .expiration {
  display: inline-block;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(2):hover .expiration .value {
  color: yellow;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) {
  border-top: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  position: relative;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values .centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values .centering .field {
  color: #c3073f;
  padding-right: 5px;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values::before {
  transition: width 800ms ease-in-out;
  content: "";
  position: absolute;
  width: 0%;
  height: 90%;
  border-radius: 10px;
  background-color: transparent;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values:hover {
  background: #c3073f;
  border-radius: 0 0 0 10px;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values:hover .centering .field {
  z-index: 2;
  color: white;
  padding-right: 5px;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values:hover .centering .value {
  z-index: 2;
  color: yellow;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(3) .progress-values:hover::before {
  width: calc(55% - 10px);
  background: #4e4e50;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(4) {
  padding: 10px;
  border-top: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(4) .current-lenders .field {
  color: #c3073f;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(4) .total-request {
  display: none;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(4):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 0 10px 0;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(4):hover .current-lenders {
  display: none;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(4):hover .total-request {
  display: inline-block;
}
.loan-contract-info .loan-info .loan-data .item:nth-of-type(4):hover .total-request .value {
  color: yellow;
}
.loan-contract-info .no-loan-info {
  font-family: "Dosis", sans-serif;
  height: max-content;
  margin-top: 2rem;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #c3073f;
  outline-offset: 2px;
}
.loan-contract-info .no-loan-info h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.6rem;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  flex-basis: 100%;
}
.loan-contract-info .no-loan-info div {
  padding: 20px 20px 0 20px;
  font-size: 2.5rem;
  width: 100%;
  height: max-content;
  background: url("../images/home-2.jpg") no-repeat center center/cover;
}
.loan-contract-info .no-loan-info div p {
  width: 25%;
  padding-top: 20px;
  padding-left: 40px;
  color: #c3073f;
  -webkit-text-stroke: 0.25px #383838;
}
.loan-contract-info .contract-info {
  font-family: "Dosis", sans-serif;
  margin-top: 2rem;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #c3073f;
  outline-offset: 2px;
}
.loan-contract-info .contract-info h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.6rem;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.loan-contract-info .contract-info h1 i {
  padding-right: 80px;
  color: #9d9d09;
  font-size: 1.8rem;
  align-self: flex-end;
  position: absolute;
  left: auto;
}
.loan-contract-info .contract-info h1 i::after {
  font-family: "Dosis", cursive;
  font-style: italic;
  content: attr(data-tooltip);
  position: absolute;
  left: 1.4rem;
  top: -1.6rem;
  font-size: 0.8rem;
  background: red;
  border: 1px solid red;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  width: 140px;
  height: max-content;
  opacity: 0;
  color: white;
}
.loan-contract-info .contract-info h1 i:hover::after, .loan-contract-info .contract-info h1 i:hover::before {
  opacity: 1;
}
.loan-contract-info .contract-info p {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 1.4rem;
  width: max-content;
  display: inline-block;
}
.loan-contract-info .contract-info p::before {
  content: open-quote;
}
.loan-contract-info .contract-info p::after {
  content: close-quote;
}
.loan-contract-info .contract-info p::before, .loan-contract-info .contract-info p::after {
  display: inline-block;
  vertical-align: bottom;
  color: #c3073f;
  font-size: 2rem;
  top: 0.2rem;
  position: relative;
}
.loan-contract-info .contract-info cite {
  align-self: flex-end;
  color: #c3073f;
}
.loan-contract-info .contract-info .contract-data {
  width: 50%;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  padding-top: 10px;
  flex-basis: 100%;
  padding-left: 20px;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.loan-contract-info .contract-info .contract-data .item {
  margin: 10px;
  text-align: center;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(1) {
  padding: 10px;
  border-bottom: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(1) .total .field {
  color: #c3073f;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(1) .collected {
  display: none;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(1):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 10px 0 0 0;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(1):hover .total {
  display: none;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(1):hover .collected {
  display: inline-block;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(1):hover .collected .value {
  color: yellow;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(2) {
  padding: 10px;
  border-bottom: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(2) .next-installment .field {
  color: #c3073f;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(2) .amount {
  display: none;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(2):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 10px 0 0;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(2):hover .next-installment {
  display: none;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(2):hover .amount {
  display: inline-block;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(2):hover .amount .value {
  color: yellow;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) {
  border-top: 1px solid #6f2232;
  border-right: 1px solid #6f2232;
  position: relative;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values .centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values .centering .field {
  color: #c3073f;
  padding-right: 5px;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values::before {
  transition: width 800ms ease-in-out;
  content: "";
  position: absolute;
  width: 0%;
  height: 90%;
  border-radius: 10px;
  background-color: transparent;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values:hover {
  background: #c3073f;
  border-radius: 0 0 0 10px;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values:hover .centering .field {
  z-index: 2;
  color: white;
  padding-right: 5px;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values:hover .centering .value {
  z-index: 2;
  color: yellow;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(3) .installment-values:hover::before {
  width: calc(66% - 10px);
  background: #4e4e50;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(4) {
  padding: 10px;
  border-top: 1px solid #6f2232;
  border-left: 1px solid #6f2232;
  display: flex;
  justify-content: center;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(4) .interest-rate .field {
  color: #c3073f;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(4) .default {
  display: none;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(4):hover {
  background-color: #c3073f;
  color: white;
  border-radius: 0 0 10px 0;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(4):hover .interest-rate {
  display: none;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(4):hover .default {
  display: inline-block;
}
.loan-contract-info .contract-info .contract-data .item:nth-of-type(4):hover .default .value {
  color: yellow;
}

.current-lenders-section {
  margin: 25px;
  padding: 50px;
}
.current-lenders-section .accepted-requests {
  font-family: "Dosis", sans-serif;
  margin-top: 2rem;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #c3073f;
  outline-offset: 2px;
}
.current-lenders-section .accepted-requests h1 {
  width: 100%;
  font-family: "Staatliches", cursive;
  font-size: 2.6rem;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.current-lenders-section .accepted-requests h1 i {
  padding-left: 20px;
  position: absolute;
}
.current-lenders-section .accepted-requests h1 i::after {
  font-family: "Dosis", cursive;
  content: attr(data-tooltip);
  position: absolute;
  left: 4rem;
  top: -1.6rem;
  font-size: 0.8rem;
  background: white;
  border: 1px solid #c3073f;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  width: 140px;
  height: max-content;
  opacity: 0;
  color: #c3073f;
}
.current-lenders-section .accepted-requests h1 i:hover::after, .current-lenders-section .accepted-requests h1 i:hover::before {
  opacity: 1;
}
.current-lenders-section .accepted-requests .user-cards {
  padding: 20px 0;
  flex-basis: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.review-section {
  margin: 72px;
  padding: 50px;
  height: max-content;
  font-family: "Dosis", sans-serif;
  padding: 20px;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #c3073f;
  outline-offset: 2px;
}
.review-section .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.review-section .title h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.6rem;
}
.review-section .title p {
  font-size: 2rem;
}
.review-section .title p i {
  padding-right: 0.5rem;
  color: #c3073f;
  position: relative;
}
.review-section .title p i::after {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  content: attr(data-tooltip);
  position: absolute;
  top: -2.5rem;
  left: 2.6rem;
  font-size: 0.6rem;
  background: #4e4e50;
  border: 1px solid #c3073f;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  width: max-content;
  height: max-content;
  opacity: 0;
  color: white;
  letter-spacing: 0;
  font-style: italic;
}
.review-section .title p i:hover::after {
  opacity: 0.8;
}
.review-section .reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px 0;
  position: relative;
}

.loan-request-card {
  background-color: white;
  position: fixed;
  top: 10%;
  left: 32%;
  width: 615px;
  height: 580px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5), -1px -1px 15px 2px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}
.loan-request-card .form {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
}
.loan-request-card .form > * > aside > p {
  visibility: hidden;
  font-size: 1rem;
  opacity: 0.5;
}
.loan-request-card .form > * > aside > p .interest {
  color: red;
  opacity: 1;
}
.loan-request-card .form > * > .input-field {
  padding-bottom: 20px;
}
.loan-request-card .form > * > .input-field > *::-webkit-inner-spin-button, .loan-request-card .form > * > .input-field > *::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loan-request-card .form:hover > * > aside > p {
  visibility: visible;
}

.footer {
  width: 100vw;
  height: 10vh;
  background: #1a1a1d;
  font-family: "Staatliches", cursive;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.footer p {
  font-size: 1.8rem;
  border-bottom: 2px solid #c3073f;
}
.footer a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=profile.css.map */