
// will be used in cases where we want the element to cover the area but be invisible
.hide {
    visibility: hidden !important;
}

// will be removed from the page like buttons being replace with another one
.remove {
    display: none !important;
}

.background-blur {
    pointer-events: none;
    filter: blur(10px);
}