.content-box {
    padding: 0 30px;
}

.menu-active {
    border-bottom: 5px solid $secondary-color;
}

.menu-inactive {
    border-bottom: 5px solid $primary-color;
}

// Basically highlights an item like amount in user-card 
.highlight {
    color: $secondary-color;
}

.inputs-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // text-align: center;
    flex-wrap: wrap;

    gap: 2rem;

    & > aside {
        // background: black;
        padding-top: 10px;
        width: 15vw;
    }

    padding-top: 20px;
    padding-bottom: 20px;
}

.input-field {
    height: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: left;
    align-items: flex-start;
    text-align: left;

    // padding-bottom: 10px;
    gap: 1rem;

}

input {
    background: white;
    
    font-size: 1.2rem;

    border-style: none;
    outline-style: none;
    border-radius: 10px;
    
    box-shadow: inset 4px 4px 5px -4px #000000 , inset -4px -4px 5px -4px #000000;

    &:focus:valid {
        border: 1px solid rgb(7, 206, 7);
    }

    &:focus:invalid {
        border: 1px solid red;
        // background: red;
    }
}

.small-input-field {
    & > * > h3 {
        padding-bottom: 12px;
    }

    & > * > h3::after {
        content: '*';
        color: red;
    }

    .small-input {
        width: 50%;
        padding: 10px 20px;
    }
}

// Basically shows the title of the page
.title-card {
    font-family: 'Staatliches' , cursive ;

    margin-bottom: 20px;

    font-size: 1.5rem;

    & > p {
        font-size: 1.2rem;
        width: 50%;
        font-family: 'Dosis', sans-serif;
        opacity: 0.5;
    }

    padding-bottom: 30px;
    border-bottom: 2px dashed rgb(109, 105, 105);
}

.text-area-input-field {
    & > * > h3::after {
        content: '*';
        color: red;
    }
}

.text-area-input {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    resize: none;
    padding: 10px;
}

// For buttons input field
.buttons {
    a {
        font-family: 'Staatliches',cursive;
        text-decoration: none;
    }
}

.buttons-list {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    
    // this is to control other non displayed divs
    display: flex;
    
    & > * {
        width: 100%;
        height: 100%;

        font-size: 1.8rem;

        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
}

.small-buttons-list {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    
    // this is to control other non displayed divs
    display: flex;
    justify-content: space-around;
    
    & > * {
        // width: 100%;
        height: 100%;

        font-size: 0.8rem;

        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
}


.card-profile {
    // border: 1px solid black;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    box-shadow: -4px -4px 16px -5px #000000 , 4px 4px 16px -5px #000000;
    font-size: 1.2rem ;
    transition: all 0.2s ease-in;
    
    .photo-space {
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 170px;
        background: url('../images/user.jpg') no-repeat center center/cover;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
    }

    .user-info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        .name {
            width: 100%;
            font-family: 'Staatliches',cursive;
            // border-bottom: 1.5px dashed $secondary-color;
        }

        .loan-contract-details {
            width: 100%;
            margin-top: 10px;
            border-top: 1px solid lightgrey;
            // padding-top: 5px;
            // flex-basis: 100%;
            padding-left: 5px;
            font-size: 0.7rem;
            border-bottom: 1.5px dashed $secondary-color;

    
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
    
            .item {
                margin: 5px;
                text-align: center;
    
                &:nth-of-type(1) {
                    padding: 5px;
                    border-bottom: 1px solid $light-color;
                    border-right: 1px solid $light-color;
                    
                    display: flex;
                    justify-content: center;
                    .total {
                        padding-top: 5px;
                        .field {
                            color: $secondary-color;
                        }
                    }
                    .collected {
                        display: none;    
                    }
    
    
                    &:hover {
                        background-color: $secondary-color;
                        color: white;
                        border-radius: 10px 0 0 0;
                        .total {
                            display: none;
                        }
                        .collected {
                            padding-top: 5px;
                            display: inline-block;
                            
                            .value {
                                color:  yellow;
                            }
                        }
    
                    }
                }
                &:nth-of-type(2) {
                    padding: 10px;
                    border-bottom: 1px solid $light-color;
                    border-left: 1px solid $light-color;
    
                    display: flex;
                    justify-content: center;
                    .next-installment {
                        .field {
                            color: $secondary-color;
                        }
                    }
                    .amount {
                        display: none;
                        
                    }
    
    
                    &:hover {
                        background-color: $secondary-color;
                        color: white;
                        border-radius: 0 10px 0 0;
                        .next-installment {
                            display: none;
                        }
                        .amount {
                            display: inline-block;
                            
                            .value {
                                color:  yellow;
                            }
                        }
    
                    }
                }
                &:nth-of-type(3) {
                    border-top: 1px solid $light-color;
                    border-right: 1px solid $light-color;
                    position: relative;

                    .installment-values {
                        width: 100%;
                        height: 100%;

                        padding: 0 5px;

                        display: flex;
                        justify-content: left;
                        align-items: center;
                        text-align: center;

                        .centering {
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            // text-align: center;

                            .field {
                                width: 100%;
                                color: $secondary-color;
                                padding-right: 5px;
                            }
                        }

                        &::before {
                            transition: width 800ms ease-in-out;

                            content: '';
                            position: absolute;
                            // width: calc( 100% - 10px );
                            width: 0%;
                            height: 90%;
                            border-radius: 10px;
                            background-color: transparent;
                        }


                        &:hover {
                            background: $secondary-color;
                            border-radius: 0 0 0 10px;

                            .centering {
                                .field {
                                    z-index: 2;
                                    color: white;
                                    padding-right: 5px;
                                } 
    
                                .value {
                                    z-index: 2;
                                    color: yellow;
                                }
                            }

                            &::before { 
                                width: calc(66% - 10px);
                                background: $dark-color;
                            }
                        }
                    }
                }
                &:nth-of-type(4) {
                    padding: 10px;
                    border-top: 1px solid $light-color;
                    border-left: 1px solid $light-color;
    
                    display: flex;
                    justify-content: center;
                    .interest-rate {
                        .field {
                            color: $secondary-color;
                        }
                    }
                    .default {
                        display: none;
                        
                    }
    
    
                    &:hover {
                        background-color: $secondary-color;
                        color: white;
                        border-radius: 0 0 10px 0;
                        .interest-rate {
                            display: none;
                        }
                        .default {
                            display: inline-block;
                            
                            .value {
                                color:  yellow;
                            }
                        }
    
                    }
                }
            }
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.review-card {
    // this is needed otherwise won't show the top items. problem with flex
    margin: auto;
    &:hover {
        cursor: pointer;
    }
    width: 96%;
    height: max-content;
    box-shadow: -4px -4px 16px -5px #000000 , 4px 4px 16px -5px #000000;
    
    padding: 20px;
    border-radius: 12px;

    .review-title {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        border-bottom: 1px solid lightgrey;
        font-size: 1.4rem;

        p {
            font-size: 1.4rem;
            
            i {
                padding-right: 0.5rem;
                color: $tertiary-color;
            }
        }

    }

    .review-comment {
        font-size: 1.2rem;
        opacity: 0.7;
        padding: 20px;
        border-bottom: 2px dashed lightgray;
        
        p {
            display: inline-block;

            &::before {
                content: open-quote;
            }
    
            &::after {
                content: close-quote;
            }
    
            &::before, &::after {
                display: inline-block;
                vertical-align: bottom;
                color: $secondary-color;
                font-size: 2.8rem;
                top: 0.2rem;
                left: -0.2rem;
                position: relative;
            }
        }
    }

    @keyframes visualize {
        0% {
            opacity: 0;
            position: absolute;
        }         
        50% {
            opacity: 0;
            position: relative;
        }

        75% {
            opacity: 0.5;
            position: 8;
        }
        100% {
            opacity: 1;
            position: relative;
        }
    }

    .hide-contract {
        .hidden-contract {
            transition: transform 0.8s ease-in-out;
            
            opacity: 0;
            position: absolute;
            transform: translateY(-120%);
            // top: -2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 20px;

            border-bottom: 2px dashed $secondary-color;
            border-top: 2px dashed $secondary-color;

            .contract-details {
                display: flex;
                gap: 1rem;
                justify-content: space-around;
                align-items: center;
                text-align: center;

                padding: 20px;
                font-size: 1.2rem;
                width: 100%;

                & > * {
                    padding: 10px 0;
                    flex-grow: 1;
                    border-bottom: 2px solid $light-color;

                    .field {
                        color: $secondary-color;
                    }
                }

                .amount {
                    border-right: 2px solid $light-color;
                    
                    &:hover {
                        background: $dark-color;
                        color: white;

                        .field {
                            color: inherit;
                        }

                        .value {
                            color: yellow;
                        }
                    }
                }

                .issue-date {
                    border-left: 2px solid $light-color;
                    &:hover {
                        background: $dark-color;
                        color: white;

                        .field {
                            color: inherit;
                        }

                        .value {
                            color: yellow;
                        }
                    }
                }
            }

        }

        &:hover {
            .hidden-contract {
                animation-name: visualize;
                animation-duration: 0.8s;
                animation-fill-mode: forwards;
                transform: translateY(0%);
                // opacity: 1;
            }

            .down-arrow {
                i {
                    color: $secondary-color;
                    transform: rotate(180deg);
                }
            }
        }

        .down-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5px;
            color: $dark-color;
            font-size: 1.2rem;
            
            i {
                // transform: rotate(180deg);
                transition: all 0.5s ease-in-out;
            }
            
        }
    }
}

.scroller {
    &::-webkit-scrollbar {
        width: .4rem; 
        height: 0.4rem;  
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $secondary-color;
        border-radius: 10px;
        // outline: 1px solid $light-color;
    }
}