@import '../utilities/initial';
@import '../utilities/variables';
@import '../utilities/buttons';
@import '../utilities/small_utilities';

.main {
    font-family: 'Staatliches' , cursive ;
}

.header {

    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed $secondary-color;
    margin-bottom: 40px;

    .icon {
    
        color: #333;
    }

    body
    {
    margin: 0;
    padding: 0;
    
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
    }

    #menuToggle
    {
    display: block;
    position: relative;
    top: 50px;
    left: -50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a
    {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
    color: tomato;
    }


    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu
    {
        opacity: 0;
        position: absolute;
        width: 300px;
        height: max-content;
        margin: -50px -10px 0 -350px;
        padding: 10px 0 0 0;
        // padding-top: 125px;
        
        background: transparent;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        
        transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

        display: flex;        
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #menu li
    {
        padding: 10px;
        border-radius: 5px 0 0 0;
        font-size: 22px;

        transition: all 0.2s ease-in;


        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 14px 15px -20px tomato;
            border-radius: 0 0 3px 3px;
            border-bottom: 5px solid tomato;
        }
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul
    {
        transform: none;
        opacity: 1;
    }
    
}

.registration {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}


.transaction-history {
    font-family: 'Dosis', sans-serif;

    margin-bottom: 100px;
    
    h1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: 'Staatliches', cursive;
        font-size: 2.6rem;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
        font-weight: bold;

        margin-bottom: 10px;

        .value{
            font-size: 1.4rem;
            opacity: 0.6;
        }

    }
    // height: max-content;

    margin-top: 2rem;
    padding: 20px;

    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    outline-width: 2px;
    outline-style: dashed;
    outline-color: $secondary-color;
    outline-offset: 2px;
    

    .report-details {
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
        color: #757575;

        & > * {
            padding-bottom: 10px;
        }
        .value {
            color: $secondary-color;
            font-weight: normal;
            padding-left: 20px;
        }

        border-bottom: 2px solid lightgray;
    }

    .contract-details {
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
        color: #333;
        width: 100%;

        border-bottom: 1px solid lightgrey;
        
        & > * {
            display: flex;
            justify-content: space-around;
            text-align: center;
        }

        .item {
            flex-grow: 1;
            padding: 20px 0;

            
            & > * {
                padding: 10px 0;
                margin: 0 10px 10px 10px;
                
                border-radius: 10px;
                box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.45);


            }
        }
        .value {
            color: $secondary-color;
            font-weight: normal;
            padding-left: 20px;
        }
    }

    @keyframes visualize {
        0% {
            opacity: 0;
            position: absolute;
        }         
        50% {
            opacity: 0;
            position: relative;
        }

        75% {
            opacity: 0.5;
            position: 8;
        }
        100% {
            opacity: 1;
            position: relative;
        }
    }

    .hide-transaction {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
        .down-arrow {
            text-align: center;
            padding-top: 10px;
            font-size: 2rem;
            color: $dark-color;
            cursor: pointer;
            i {
                // transform: rotate(180deg);
                transition: all 0.5s ease-in-out;
            }
    
            
        }

        .user-cards {

            opacity: 0;
            position: absolute;
            transform: translateY(-120%);


            margin-top: 20px;
            padding: 20px;
            flex-basis: 100%;
            height: max-content;
            border: 0.5px dotted $light-color;
            scrollbar-color: $secondary-color white;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 25%; // play with this to change height of the children, 50% will fill half
            grid-template-columns: unset; // do not set template columns and rows
            grid-template-rows: unset;
            overflow-x: scroll;
            gap: 2rem;
        }

        &:hover {
            .user-cards {
                animation-name: visualize;
                animation-duration: 0.8s;
                animation-fill-mode: forwards;
                transform: translateY(0%);
                // opacity: 1;
            }
            i {
                color: $secondary-color;
                transform: rotate(180deg);
            }
        }
    }
    
    .admin-buttons {
        width: 100%;
        margin-top: 20px;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }
}
